.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}


.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0px;
  height: 0px;
  border-radius: 100%;
  opacity: 0;
  border: 5px solid white;
  animation: anim 4s infinite linear;
}

@keyframes anim {
  0% {
    opacity: 0.0;
    width: 0vmin;
    height: 0vmin;
  }

  10% {
    opacity: 0.2;
  }

  100% {
    opacity: 0.0;
    width: 100vmin;
    height: 100vmin;
  }
}

.spinner:nth-child(1) {
  animation-delay: 200ms;
}

.spinner:nth-child(2) {
  animation-delay: 400ms;
}

.spinner:nth-child(3) {
  animation-delay: 600ms;
}

.spinner:nth-child(4) {
  animation-delay: 800ms;
}

.spinner:nth-child(5) {
  animation-delay: 1000ms;
}

.spinner:nth-child(6) {
  animation-delay: 1200ms;
}

.spinner:nth-child(7) {
  animation-delay: 1400ms;
}

.spinner:nth-child(8) {
  animation-delay: 1600ms;
}

.spinner:nth-child(9) {
  animation-delay: 1800ms;
}