.Jokelist{
  display: flex;
  width: 80%;
  height:  80%;

}

.sidebar{
background: rgb(179, 38, 245);
display: flex;
width: 25%;
flex-direction: column;
box-shadow: 3px 6px 11px -1px rgba(185, 49, 248, 0.795);
z-index: 2;
align-items: center;
justify-content: center;

}

.sidebar img{
  width: 50%;
  box-shadow: 6px 2px 28px -1px rgba(250,58,250,1);
  border-radius: 50%;
}

.jokelist-tilte {
  font-size: 4rem;
  color: antiquewhite;
  font-weight: 300;
}

.dad {
  font-weight: 800;
  color: bisque;
  letter-spacing: 1.2rem;
}




.jokelist-jokes{
  background: rgb(255, 255, 255);
  width: 75%;
  height: 90%;
  overflow: scroll;
  box-shadow: 6px 2px 28px -1px rgba(250, 58, 250, 0.247);
  align-self: center;
}


.add-joke-btn{
  padding: .8rem 1.1rem;
  margin-top: 4rem;
  border: 2px solid rgb(255, 255, 255);
  background: transparent;
  font-size: 1.8rem;
  font-weight: 800;
  color: #fff;
  transition: .2s ease-out;
  position: relative;
}

.add-joke-btn:hover {
  background: rgba(0, 0, 0, 0.639);
  color: rgba(250, 58, 250, 0.247);
  border: rgba(185, 49, 248, 0.795);
}

.add-joke-btn:active{
  top: 6px;
}


.loading {
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85%;
}

.loading h1{
  color: black;
}