.joke{
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #999494;
  padding: .8rem;

}

.joke-btns{
  display: flex;

}

.joke-btns i {
  font-size: 2.5rem;

}

.vote {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  line-height: 5rem;
  border: 4px solid #8542f8;
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
  transition: .2s ease-in;
  box-shadow: 3px 4px 4px 5px #ccc;
}

.joke-text {
  font-size: 1.8rem;
  margin: 1.5rem 0;
  width: 75%;
}

.fa-arrow-up, .fa-arrow-down{
  font-size: 2rem;
  margin: 1rem;
  cursor: pointer;
}

i {
  transition: all .2s ease-in-out;
}

i:hover{
  color: #8542f8;
  transform: scale(1.1);
}


.joke-smiley{
  font-size: 3rem;
  margin-left: auto;
  border-radius: 50%;
  box-shadow: 3px 2px 3px 2px #ccc;
  height: 15%;
  transition: .2s ease-out;
}

.joke-smiley i:hover{
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: 5s;
  animation-timing-function: linear; 
  transform: scale(1.1)
}

@keyframes spin { 
  from { 
      transform: rotate(0deg); 
  } to { 
      transform: rotate(360deg); 
  }
}