*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 10px;
  font-family: sans-serif;
}

body {
  min-height: 100vh;
  background: #1a66cac2;
  color: aliceblue;
}